/* HSL */
$cb-white: hsla(100%, 10%, 94%, 1);
$cb-green: hsla(78%, 56%, 66%, 1);
$cb-black: hsla(197%, 7%, 21%, 1);
$cb-altblue: hsla(184%, 43%, 57%, 1);
$cb-red: hsla(354%, 71%, 55%, 1);

/* RGB */
$cb-white: rgba(240, 242, 239, 1);
$cb-green: rgba(188, 217, 121, 1);
$cb-black: rgba(49, 54, 56, 1);
$cb-altblue: rgba(98, 187, 193, 1);
$cb-red: rgba(222, 60, 75, 1);


/* HSL */
$cb-blue: hsla(206%, 83%, 58%, 1);
$cb-gray: hsla(203%, 14%, 30%, 1);
$cb-pink: hsla(345%, 76%, 58%, 1);
$cb-yellow: hsla(52%, 86%, 62%, 1);
$cb-altgreen: hsla(168%, 87%, 58%, 1);

/* RGB */
$cb-blue: rgba(57, 160, 237, 1);
$cb-gray: rgba(67, 80, 88, 1);
$cb-pink: rgba(229, 68, 109, 1);
$cb-yellow: rgba(241, 219, 75, 1);
$cb-altgreen: rgba(54, 241, 205, 1);